<div class="row justify-content-center">
  <p class="display-2 m-5">
    <strong>About</strong>
  </p>
</div>
<div class="row justify-content-center text-center">
  <h3>
    ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意していります。</br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます
  </h3>
</div>
  
<div class="container">
  <div class="row justify-content-center m-4 text-center" style="height: 200px;">
    <div class="w-50 h-30 border border-secondary" style="background-color: light;">
    </div>
  </div>
</div>