<div class="row justify-content-center">
  <div class="col-md-8 offset-md-1">
    <h5 class="m-4 text-black">注文情報入力</h5>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="font-weight-bold">支払方法</h4>
    </div>
  </div>
</div>